body {
  margin: 0;
  min-width: 250px;
}
p{
  padding: 10px;
}
.header {
    background-color:#ff1a1a;
    padding: 30px 40px;
    color: white;
    text-align: center;
}
div.timedate{
  text-align: center;
}
.timedate input{
  width: 20%;
  float: none;
}
/*.header > h3{
  padding-top: 15px;
}*/
#datepicker {
  width:46%;
}
.date{
  padding-left: 15px;
}
#basicExample {
  width:18%;
  margin-bottom: 25px;
}
.time{
  padding-left: 15px;
}
.header:after {
    content: "";
    display: table;
    clear: both;
}
input {
    border: none;
    width: 100%;
    padding: 10px;
    float: left;
    font-size: 16px;
    text-align: center;
    border-radius: 20px 20px;
}

input[type="button"]{
  background-color: yellow;
  border: none;
  width:100%;
  float: left;
  font-size: 14px;
  text-align: center;
  margin: 5px;
}
input[type="button"]:hover{
  cursor: pointer;
}
.addBtn {
    padding: 10px;
    width: 100%;
    background: #d9d9d9;
    color: #555;
    float: left;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
}
.addBtn:hover {
    background-color: #0033cc;
    color: red;
}

ul#myUL {
  margin: 0;
  padding: 0;
}

ul#myUL li {
  /*cursor: pointer;*/
  position: relative;
  padding: 12px 8px 12px 40px;
  background: #eee;
  font-size: 18px;
  transition: 0.2s;

}

ul#myUL li:nth-child(odd) {
  background:#d6d6c2;
}
.sorting{
  margin: 10px;
  background-color:#3385ff;
  padding: 30px 40px;
  color: white;
  text-align: center;
  float: left;
  border-radius: 20px 10px;
}

.filters{
  margin: 10px;
  background-color:#3385ff;
  padding: 10px 20px;
  color: white;
  text-align: center;
  float: right;
  border-radius: 20px 10px;
}

.filters p{
  padding: 0px;
}

input[disabled]{
 opacity: 0.3;

}


.close {
  cursor: pointer;
  position: absolute;
  right: 0;
  top: 0;
  padding: 12px 16px 12px 16px;
}

.time {
  cursor: pointer;
  /*position: absolute;*/
  right: 0;
  top: 0;
  padding: 12px 16px 12px 16px;
}

.close:hover {
  background-color: #f44336;
  color: white;
}
span{
  border-radius: 40px 10px;
}
